*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  list-style: none;
  font-family: 'Rubik', sans-serif;

  text-decoration: none;
}

.container-flex{
  max-width: 90%;
  margin: 0px auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}